name: Release Build

on: push

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        goos: [linux, windows]
        goarch: [amd64]
        include:
          - goos: linux
            output_name: gmod-addon-manager-linux
          - goos: windows
            output_name: gmod-addon-manager-windows.exe

    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'

    - name: Check out code
      uses: actions/checkout@v6

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: go build -o ${{ matrix.output_name }}

    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: ${{ matrix.output_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
